<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>KituraServer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>KituraServer.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>OBJ_129</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_136</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_145</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_154</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_168</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_169</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_170</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_171</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_172</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_175</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_177</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_178</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_179</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_184</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_185</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_186</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_187</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_188</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_191</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_192</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_193</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_194</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_195</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_196</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_197</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_199</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_200</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_201</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_203</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_204</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_208</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_209</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_210</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_211</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_212</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_213</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_217</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_224</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_225</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_227</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_228</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_232</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_256</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_258</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_259</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_260</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_264</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_266</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_267</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_268</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_271</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_272</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_273</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_274</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_275</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_276</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_280</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_281</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_283</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_284</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_287</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_288</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_290</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_291</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_294</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_295</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_303</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_333</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_335</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_336</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_337</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_342</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_344</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_345</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_346</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_349</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_350</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_352</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_353</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_357</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_358</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_359</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_361</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_362</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_366</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_380</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_382</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_383</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_384</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_391</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_393</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_394</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_395</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_396</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_397</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_399</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_400</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_404</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_407</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_408</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_410</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_411</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_415</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_417</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_418</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_423</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_428</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_429</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_433</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
